body{
	margin: 30px;
}

code{
	display: block;
	margin: 15px 0;
	padding: 20px;
}

.l-section{
	padding: 30px;
}

.image-wrap{
	position: relative;
	height: 240px;
}
.image-wrap img{
	position: absolute;
}

.btn{
	margin-top: 30px;
}