extends ./inc/_head.jade

block title
	title index page

block content
	h2 Default
	.l-section
		code
			$('.hoge').koma();
		div.js-koma
			div.img-wrap.koma-items
				- for (var i = 0; i < 400; i++) {
					- if(i == 0){
						img(src="./images/image_02/image#{i+1}.png")
					- }else{
						img.is-hide(src="./images/image_02/image#{i+1}.png")
					- }
				- }

		div.js-koma
			div.img-wrap.koma-items
				- for (var i = 0; i < 400; i++) {
					- if(i == 0){
						img(src="./images/image_01/image#{i+1}.png")
					- }else{
						img.is-hide(src="./images/image_01/image#{i+1}.png")
					- }
				- }

	script.
		$(function(){
			$('.js-koma').each(function(){
				$(this).koma();
			});
		});