extends ./inc/_head.jade

block title
	title index page

block content
	h1 jQuery.koma.js Demo

	h2 Default
	.l-section
		code
			$('.hoge').koma();
		div.js-koma
			div.img-wrap.koma-items
				- for (var i = 0; i < 400; i++) {
					img(src="./images/image_02/image#{i+1}.png")
				- }

	h2 Option FPS
	.l-section
		h3 FPS 15
		code
			$('.hoge').koma( {fps: 15} );
		div.js-koma-fps15
			div.img-wrap.koma-items
				- for (var i = 0; i < 400; i++) {
					img(src="./images/image_01/image#{i+1}.png")
				- }
		h3 FPS 30
		code
			$('.hoge').koma( {fps: 30} );
		div.js-koma-fps30
			div.img-wrap.koma-items
				- for (var i = 0; i < 400; i++) {
					img(src="./images/image_01/image#{i+1}.png")
				- }

	h2 Stop/Restart Controls
	.l-section
		h3 Stop Event Handling
		code
			| $('.js-koma').on('koma_stop', function(e, params){ <br>
			| &nbsp;&nbsp;console.log('koma_stop'); <br>
			| &nbsp;&nbsp;console.log(params);// params.$el <br>
			| });
		h3 Restart Event Handling
		code
			| $('.js-koma').on('koma_restart', function(e, params){ <br>
			| &nbsp;&nbsp;console.log('koma_restart'); <br>
			| &nbsp;&nbsp;console.log(params);// params.$el <br>
			| });
		div.js-koma
			div.img-wrap.koma-items
				- for (var i = 0; i < 400; i++) {
					img(src="./images/image_02/image#{i+1}.png")
				- }
			div.btn
				button.koma-restart restart!
				button.koma-stop stop!

	script.
		$(function(){
			$('.js-koma').each(function(){
				$(this).koma();
			})
			$('.js-koma-fps15').koma( {fps: 15} );
			$('.js-koma-fps30').koma( {fps: 30} );

			$('.js-koma').on('koma_stop', function(e, params){
				console.log('koma_stop');
				console.log(params);
			});
			$('.js-koma').on('koma_restart', function(e, params){
				console.log('koma_restart');
				console.log(params);
			});
		});