extends ./inc/_head.jade

block title
	title index page

block content
	h1 Default

	.l-section
		div.image-box.js-koma_02
			div.koma-items.img-wrap
				- for (var i = 0; i < 400; i++) {
					img(src="./images/image_02/image#{i+1}.png")
				- }
			
	.l-section
		div.image-box.js-koma
			div.koma-items.img-wrap
				- for (var i = 0; i < 400; i++) {
					img(src="./images/image_01/image#{i+1}.png")
				- }

	h1 Stop

	.l-section
		div.image-box.js-koma
			div.koma-items.img-wrap
				- for (var i = 0; i < 400; i++) {
					img(src="./images/image_02/image#{i+1}.png")
				- }
			button.koma-restart restart!
			button.koma-stop stop!

	script.
		$(function(){
			$('.js-koma').each(function(){
				$(this).koma();
			})
			$('.js-koma_02').koma();
		});