extends ./inc/_head.jade

block title
	title index page

block content
	h2 Option Steps
	.l-section
		code
			$('.hoge').koma( {steps: [90, 110, 80, 120]} );
		div.js-koma-step
			div.img-wrap.koma-items
				- for (var i = 0; i < 400; i++) {
					- if(i == 0){
						img(src="./images/image_02/image#{i+1}.png")
					- }else{
						img.is-hide(src="./images/image_02/image#{i+1}.png")
					- }
				- }

	script.
		$(function(){
			$('.js-koma-step').koma( {steps: [90, 110, 80, 120]} );
		});